// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card{
  height: 200px;
  background-size: cover;
  color: white;
  padding: 5px 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  margin-top: 20px;
}

.card:hover {
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
